.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: #313037;
    width: 100%;
    overflow: hidden;
}
.title.dark {
    color: #FFFFFF;
}
@media screen and (max-width: 768px) {
    .title{
        font-size: 56px;
        line-height: 84px;
        color: #313037;
    }
}

@media screen and (max-width: 740px) {
    .title{
        font-size: 46px;
        line-height: 74px;
    }
}

@media screen and (max-width: 620px) {
    .title{
        font-size: 32px;
        line-height: 48px;
    }
}
