.userBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    cursor: pointer;
}
.userLink {
    display: flex;
    flex-direction: column;
}
.userImg {
    display: block;
}
@media screen and (max-width: 320px) {
    .userBlock {
        display: none;
    }
}