.wrapperArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message {
    display: flex;
    flex-direction: column;
    padding-top: 25%;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}